<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>客户</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">

		<link rel="stylesheet" href="css/global.css" media="all">
		<script src="{$_GET['public_dir']}/jquery/jquery.js"></script>
		<script src="{$_GET['public_dir']}/jquery-ui/jquery-ui.js"></script>
		<link rel="stylesheet" href="{$_GET['public_dir']}/jquery-ui/jquery-ui.css">
		<link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/font-awesome/css/font-awesome.min.css"><!--图标-->

		<link href="{$_GET['public_dir']}/dataTable/css/dataTables.bootstrap.css" rel="stylesheet">
  		<link href="{$_GET['public_dir']}/bootstrap/css/bootstrap.css" rel="stylesheet">

		<script src="{$_GET['public_dir']}/dataTable/js/jquery.dataTables.min.js" ></script>
<script src="{$_GET['public_dir']}/bootstrap/My97DatePicker/WdatePicker.js"'" ></script>
		<script src="{$_GET['public_dir']}/bootstrap/js/bootstrap.js"'" ></script>
		<script src="{$_GET['public_dir']}/dataTable/js/dataTables.
		.js" ></script>

<!--下面   地区插件-->
	
		<link href="{$_GET['public_dir']}/diqu/css/main.css" rel="stylesheet">
		<link href="{$_GET['public_dir']}/diqu/css/css/demo.css" rel="stylesheet">

		<script>window.jQuery || document.write('<script src="{$_GET['public_dir']}/diqu/js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="{$_GET['public_dir']}/diqu/js/distpicker.data.js"></script>
	    <script src="{$_GET['public_dir']}/diqu/js/distpicker.js"></script>
	    <script src="{$_GET['public_dir']}/diqu/js/main.js"></script>

<!--end!!-->

		 <script>
			window.rooturl="{$_GET['root_dir']}";
		  $(function() {
   				 $( "#tabs" ).tabs();
 		 });

  		</script><!-- 标签-->
			  <style>
    			 body { font-size: 62.5%; }
    			 li{overflow:hidden;}

   				#dialog-form label{ float:left; }
   				  #dialog-form input { float:left; }

   				#dialog-form label{ margin-bottom:12px; width:25%;text-align:left;margin-left:18px;padding:.8em;}
   				#sel{width:120px;}
   				 #dialog-form input.text { margin-bottom:12px; width:65%; padding: .8em 0em; }
    			 fieldset { padding:0; border:0; margin-top:25px; }
  				 div#users-contain { width: 350px; margin: 20px 0; }
   				 div#users-contain table { margin: 1em 0; border-collapse: collapse; width: 100%; }
   				 div#users-contain table td, div#users-contain table th { border: 1px solid #eee; padding: .6em 10px; text-align: left;}
    			.ui-dialog .ui-state-error { padding: .3em;}
    			.validateTips { border: 1px solid transparent; padding: 0em;}
    			.ui-dialog .ui-dialog-content {position: relative;border: 0;padding: 0em 0em;background: none;overflow: auto;}
    			#table_local_filter{width:300px;margin-top:-32px; float:right;}
    			#table_local_length{width:100px;}
    			.label-success{ height:28px;line-height:16px;width:60px; text-align: center;font-size:14px }
  			 </style>
  			  <script>
							  $(function() {
							    var name = $( "#name" ),
							      email = $( "#email" ),
							      password = $( "#password" ),
							      allFields = $( [] ).add( name ).add( email ).add( password ),
							      tips = $( ".validateTips" );
							 
							    function updateTips( t ) {
							      tips
							        .text( t )
							        .addClass( "ui-state-highlight" );
							      setTimeout(function() {
							        tips.removeClass( "ui-state-highlight", 1500 );
							      }, 500 );
							    }
							 
							    function checkLength( o, n, min, max ) {
							      if ( o.val().length > max || o.val().length < min ) {
							        o.addClass( "ui-state-error" );
							        updateTips( "" + n + " 的长度必须在 " +
							          min + " 和 " + max + " 之间。" );
							        return false;
							      } else {
							        return true;
							      }
							    }
							 
							    function checkRegexp( o, regexp, n ) {
							      if ( !( regexp.test( o.val() ) ) ) {
							        o.addClass( "ui-state-error" );
							        updateTips( n );
							        return false;
							      } else {
							        return true;
							      }
							    }
							 
							    $( "#dialog-form" ).dialog({
							      autoOpen: false,
							      height: 600,
							      width: 520,
							      modal: true,
							      buttons: {
							        "确认添加": function() {
							        		var d = {};
							    			var t = $('form').serializeArray();
							   				 $.each(t, function() {
							   				 	if(this.name.substr(-1,1)==']')
							   				 	{
							   				 		alert(this.name)
							   				 		var linshikey=this.name.replace('[]','');
							   				 		if(d[linshikey]!=undefined)
							   				 		{
							   				 			d[linshikey]=d[linshikey]+'/'+this.value;
							   				 		}
							   				 		else
							   				 		{
							   				 			d[linshikey]=this.value;
							   				 		}
							   				 		
							   				 	}
							   				 	else
							   				 	{
							   				 		d[this.name] = this.value;
							   				 	}
							     			 
							   				 });	
							     			//var zhi=$("#caonm").val();
							     			
							     		alert(JSON.stringify(d));
							     		
							        	$.get(rooturl+'/index.php/Home/Kehu/add',{"id": JSON.stringify(d)},
							        		 function(html){
							        		 		if(html=='ok'){
							        		 			alert('添加成功');
							        		 			 $( this ).dialog( "close" );
							        		 		}else{
							        		 			alert('添加失败');
							        		 		}
							                   }
							        		);
							     
							        },
							        取消: function() {
							          $( this ).dialog( "close" );
							        }
							      },
							      close: function() {
							        allFields.val( "" ).removeClass( "ui-state-error" );
							      }
							    });
							 
							    $( "#create-user" )
							      .button()
							      .click(function() {
							        $( "#dialog-form" ).dialog( "open" );
							      });
							  });
							  var aa="";
							  var zhi="";
 		 </script>

 	
 		 		
		<link rel="stylesheet" href="{$_GET['public_dir']}/kehucss/xinzeng.css"><!--客户新增CSS-->
		<style>
		body,ul,li,table,tr{margin:0;padding:0;}
		.peizhi{width:auto;height:auto ;border:1px solid #ccc;margin-left:-17px;border-top:0;} 
		.anniu{width:auto;height:50px;border:1px solid #ccc;margin-left:-17px;} 
		.kehu{width:auto;height:auto;border:1px solid #ccc;margin-left:-17px;} 
		tr{line-height:28px}
		.anniudw{  position: relative;top: 14px;}
		.left{  position: relative;left: 13px;}
		.anniudw a{  position: relative; margin-left: 30px;}
		</style>


		<script type="text/javascript">
        $(function () {
            $("#table_local").dataTable({
                //lengthMenu: [5, 10, 20, 30],//这里也可以设置分页，但是不能设置具体内容，只能是一维或二维数组的方式，所以推荐下面language里面的写法。
                //"
               "sScrollX": "100%",
"sScrollXInner": "250%",
"bScrollCollapse": true,
                paging: true,//分页
                ordering: true,//是否启用排序
                searching: true,//搜索
                language: {
                    lengthMenu: '<select class="form-control input-xsmall">' + '<option value="1">1</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">40</option>' + '<option value="50">50</option>' +'<option value="5">5</option>' + '</select>条记录',//左上角的分页大小显示。
                    search: '<span class="label label-success">搜索：</span>',//右上角的搜索文本，可以写html标签

                    paginate: {
                        previous: "上一页",
                        next: "下一页",
                        first: "第一页",
                        last: "最后"
                    },

                    zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
                    //下面三者构成了总体的左下角的内容。
                    info: "总共_PAGES_ 页，显示第_START_ 到第 _END_ ，筛选之后得到 _TOTAL_ 条，初始_MAX_ 条 ",//左下角的信息显示，大写的词为关键字。
                    infoEmpty: "0条记录",//筛选为空时左下角的显示。
                    infoFiltered: ""//筛选之后的左下角筛选提示，
                },
                paging: true,
                pagingType: "full_numbers",//分页样式的类型

            });
            $("#table_local_filter input[type=search]").css({ width: "auto" });//右上角的默认搜索文本框，不写这个就超出去了。
        });

    	</script>
    	

	</head>

	<body style="position:relative">
	
		 
		<div id="tabs">
			  <ul>
			    <li><a href="#tabs-1">全部客户</a></li>
			    <li><a href="#tabs-2">我的客户</a></li>
			    <li><a href="#tabs-3">我下属的客户</a></li>
			    
			  </ul>
  			<div id="tabs-1">
  					<li style="margin-top:-36px;margin-left:85%"><button id="create-user">新增用户</button></li>
			   	<div class="peizhi">
				   	<div class="left">
					   	 <table>
					   	 	<volist name="left_conf" id="vo">
								<tr >
									<td>{$vo.name}
										<if condition="$vo.type eq 3">：
											<volist name="ywcs_biao" id="voo" >
												  <if condition="$vo.id eq $voo.id ">
												     <foreach name="voo" item="vooo" key="sq">
												     	 <if condition="$vo.id eq $voo.id ">

														
														
															<input type='text' width='20px' name="{$vo.id}" id='{$sq}' class='shaixuan' value="{$vooo}" style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px ' />
																
															
														</if>
													</foreach>
													
													</if>
											 </volist>
										<else />

											<select id="sel" name="{$vo.id}">
												<option>{$vo.id}</option>
												<option>{$vo.id}</option>
											</select>
												<!--：<input type="text" name="{$vo.id}" value="{$vo.id}">-->
										</if>
									</td>
								</tr>
							</volist>
						</table>
					</div>
			   	</div>
   				<div class="anniu">		
					<span style="margin-top:-8px;margin-left:1%"  class="anniudw">
							已选0位客户
					   		<a href="#">批量转移</a>
					   		
					   		<a href="#">批量编辑</a>
					   		<a href="#">删除所选</a>
					   		<a href="#">转移至客户公海</a>
					</span>
   				</div>
		   		<div class="kehu">   	
		   			<div class="panel panel-default">
			   			 <div class="panel-heading">
				        	<div class="panel-title">
				            		客户信息
				       		 </div>
			    		</div>
						<div class="panel-body" >
								 <table id="table_local" class="table table-bordered table-striped table-hover">
						            <thead>
						                <tr>	<th>ID</th>
						                <foreach name="kehu" item="vo">
						               	
						                    <th>{$vo.name}</th>

						                    </foreach>
						                   <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                    <th>ID</th>
						                   <th>ID</th>
						                    <th>ID</th>
						                </tr>
						            </thead>
						  
						                <tbody id="jb_bianji">
						   
									<!--	<volist name="kh_xinxi" id="vo">
										 <tr>
										
											<volist name="list" id="voo">

												<td>

											
											<input type="text" width="20px" name="{$voo}" id="{$vo['0']}" class="bianji" value="{$vo.$voo}" onblur=""  style='border-left:0px;border-top:0px;border-right:0px;border-bottom:1px '>
											<i class="fa fa-pencil" aria-hidden="true">	</i>
												</td>		
											</volist>
																	
										</tr>		
										</volist>
	   -->
	
					{$table}
										
						                </tbody>
			</if>			       
						  			</table>
						</div>
					</div>
				</div>
				<div id="dialog-form" title="新增客户">
		  			<p class="validateTips" style="margin:15px 0 0 13px;">所有带*字段都是必填的。</p>
						  <form id="form1"  method="post">
						 		<fieldset>
								  	<foreach name="kehu" item="vo">
								             <li>
								         		<if condition="$vo.bt eq 1">
								             		<label for="name"><span style="color:red">*</span>{$vo.name}:</label>
								             		<if condition="$vo.type eq 3">
								                		<select   name="{$vo.id}">
									                		<foreach name="ywcs_biao" item="vow">	
									                			<if condition="$vow.id eq $vo['id']">
									                			 	<foreach name="vow"  item="voow" key="sq" >
									                			 		<if condition ="$sq eq 'id'">
																			<option style=" padding: .5em 0em;">---请选择---</option>
									                			 		<else />
									                						<option value="{$sq}"  >{$voow}</option>
									                					</if>
									                				</foreach>
									                			</if>
									                		</foreach>
								                		</select>
								                	<elseif condition="$vo.type eq 2" />
								                		<input type="text" name="{$vo.id}"   class="text ui-widget-content ui-corner-all" onfocus="WdatePicker({dateFmt:'yyyy-M-d H:mm:ss'})" >

													<elseif condition="$vo.type eq 1" />
								                	<form class="form-inline">
     													 <div data-toggle="distpicker" style=" overflow:hidden">
       														
       														 <div class="form-group" style="width:33.3%; float:left">
          															<select name="{$vo.id}[]" class="form-control"   ></select>
        													</div>

													        <div class="form-group" style="width:33.3%; float:left">
													          		<select name="{$vo.id}[]" class="form-control"   ></select>
													        </div>

													        <div class="form-group" style="width:33.3%; float:left">
													         	 <select name="{$vo.id}[]" class="form-control"   ></select>
													        </div>

													      </div>
													 </form>
		
								                	<else />
								                	<input type="text" name="{$vo.id}"  class="text ui-widget-content ui-corner-all" >
								                	</if>
								                <else />
								                	<label for="name">{$vo.name}:</label>
								                	<if condition="$vo.type eq 3">
								                		<select   name="{$vo.id}">
									                		<foreach name="ywcs_biao" item="vow">	
									                			<if condition="$vow.id eq $vo['id']">
									                			 	<foreach name="vow"  item="voow" key="sq" >
									                			 		<if condition ="$sq eq 'id'">
																			<option >---请选择---</option>
									                			 		<else />
									                						<option value="{$sq}"  id="datepicker" >{$voow}</option>
									                					</if>
									                				</foreach>
									                			</if>
									                		</foreach>
								                		</select>

								                	
								                	<else />
								                	<input type="text" name="{$vo.id}"   class="text ui-widget-content ui-corner-all canimei" >
								                	</if>
								                </if>
								                	
								             </li>
													
								    </foreach>
								    		
							  		<li><label for="name"><span style="color:red">*</span>负责人：</label> 
							  				 <select   name="fuzeren">
							  				 	<option>---请选择---</option>
							  				 <foreach name="fuzeren" item="vo"> 
							  				 	<option value="{$vo.user_id}">{$vo.user_name}</option>
							  				  </foreach>   
							  				 </select>
							  		</li>
								   <li><label for="name"><span style="color:red">* </span>部门：
								   <input type="text" name="department"   class="text ui-widget-content ui-corner-all" >
								  </label> 
							  </fieldset>
						  </form>
				</div>
  		</div>
	    <div id="tabs-2">
			</div>   
  <div id="tabs-3">
  
  </div>

</div>
 
	</body>

</html>
<script>
    		function blurfun(){

    			$(".bianji").blur(function(){
    				if($(this).val()==$(this).attr("value")){
    				alert("没有修改信息");
    				}else{
    					$.get(rooturl+'/index.php/Home/Kehu/index',{"bianji_id":$(this).attr("id"),"bianji_name":$(this).attr("name"),"bianji_val":$(this).val()},
							        		 function(html){
							        		//alert(html)
													if(html=='ok'){
							        		 		
							        		 			$.get(rooturl+'/index.php/Home/Kehu/jb_bianji',{"jb_id)":'1'},
							        		 				function(html){
							        		 					alert("老子已经刷新了！")
															$("#jb_bianji").html(html);
															blurfun();

															});

							        		 		}
							                   });

    					
    				}
							        		
    			})
    		}
$(document).ready(blurfun());
    	</script>
	    <script>
    		$(document).ready(function(){
    			$(".shaixuan").click(function(){

alert($(this).attr("name"))
alert($(this).attr("id"))
    				$.get(rooturl+'/index.php/Home/Kehu/shaixuan',{"title":$(this).attr("name"),"val":$(this).attr("id")},
							        		 				function(html){
							        		 					alert(html)
															$("#jb_bianji").html(html);
															blurfun();

															});

    			});
    		});
    	</script>
