<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <title>公司信息设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <script src="__PUBLIC__/jquery/jquery.js"></script>
    <!--layUI 插件  -->
    <script src="__PUBLIC__/index_js_css/plugins/layui/layui.js"> </script>
    <link rel="stylesheet" href="__PUBLIC__/index_js_css/plugins/layui/css/layui.css" media="all">
    <style>
        *{margin:0;padding:0}
        a{text-decoration:none;cursor:pointer;}
        #box{margin-left: 10px;margin-right: 10px;overflow:hidden;}
        /*头部页面名称*/
        #mod-head{height:100px;font-size:22px;line-height:100px;color:#1AA094;font-weight:bold;}
        /*中部可关闭的提示框*/
        #mod1{background-color:#DFF0D8;height:50px;color:#255B56;padding-left:15px;padding-bottom:0px;border-radius:0px;font-size:12px;line-height:50px;}
        #hidden-div{float:right;font-weight:bold;margin-right:15px;font-size:20px;color:#656565;}
        /*下部数据展示模块*/
        #info{margin-top:20px;}
        /*下部头部*/
        #info-head{height:40px;color:#333333;background-color:#F5F5F5;line-height:40px;padding-left:10px;}
        #bianji{background-color:#1AA094;border:1px solid #1AA094;color:#fff;height:30px;width:60px;line-height:30px;float:right;margin-right: 10px;margin-top:5px;}
        #quxiao{background-color:#fff;border:1px solid #1AA094;color:#555;height:30px;width:60px;line-height:30px;float:right;margin-right: 10px;margin-top:5px;}

        /*下部表单*/
        
        #info-body{border: 1px solid #ddd;color:#555;font-size:14px;}
        #info-body table{margin:10px;width:1000px;}
        #info-body table tr{height:40px;}
        
        .listname{width:200px;}
        /*
        .listlogo{height:200px;}
        #logo-text{float:left;border:1px solid #f00;text-align:top;}
        */
        img{height:170px;width:170px;}
    </style>
</head>
<script>


</script>
<body>
<div id="box">
    <!--页面名称-->
    <div id="mod-head">公司信息</div>
    <!--中部可关闭提示-->
    <div id="mod1">
        提示：完善公司信息，帮助我们更好的了解需求，提升服务。
        <span id="hidden-div"><a onclick="hidden_div()">×</a></span>
    </div>
    <div id="info">
        <div id="info-head">
            公司信息 
            <button id="bianji" onclick="changetext()">编辑</button>
        </div>
        <div id="info-body">
            <table cellSpacing="0" cellpadding="0"  >
                <tr>
                    <td class="listname listlogo">公司LOGO</td>
                    <td rowspan="5"><span><img id="headimg" src="__PUBLIC__/head-img/{$gsxxarr['gsxx_img']}"></span><input type="file" name="headimg" lay-type="images" class="layui-upload-file" id="imm"></td>
                </tr>
                <!--合并后的空单元格-->
                <tr>
                    <td class="listname listlogo"></td>
                </tr>
                <tr>
                    <td class="listname listlogo"></td>
                </tr>
                <tr>
                    <td class="listname listlogo"></td>  
                </tr>
                <tr>
                    <td class="listname listlogo"></td>
                </tr>
                <!--——————————————-->
                <tr>
                    <td class="listname">公司名称</td>
                    <td id="gs_name">{$gsxxarr['gsxx_name']}</td>
                </tr>
                <tr>
                    <td class="listname">企业简称</td>
                    <td id="qy_jiancheng">{$gsxxarr['gsxx_jc']}</td>
                </tr>
                <tr>
                    <td class="listname" value="222">所属行业</td>
                    <td id="ss_hangye">{$hangye[$gsxxarr['gsxx_hy']]}<input type="hidden" id="hid_hy_val" value="3" /></td>
                </tr>
                <tr>
                    <td class="listname">所在地区</td>
                    <td id="sz_diqu">{$gsxxarr['gsxx_dq']}<input type="hidden" id="hid_dq_val" value="3" /></td>
                </tr>
                <tr>
                    <td class="listname">公司地址</td>
                    <td id="gs_address">{$gsxxarr['gsxx_dz']}</td>
                </tr>
                <tr>
                    <td class="listname">公司规模</td>
                    <td id="gs_guimo">{$gsguimo[$gsxxarr['gsxx_gm']]}<input type="hidden" id="hid_gm_val" value="3" /></td>
                </tr>
            </table>
        </div>
    </div>
</div>
<div id='msg'></div>
</body>
<script src="__ROOT__/Public/index_js_css/datas/area_data.js"></script>
<script type="text/javascript" src="__PUBLIC__/js/islogin.js"></script>
<script>
    window.root_dir="__ROOT__";
    //加载lay上传样式
    layui.use('upload', function(){
        layui.upload(options);
    });
    //黑色半透明提示
    function tishi(neirong)
    {
        layer.msg(neirong, {
            time: 1000, 
        });
    }
    //上方绿色提示框的关闭效果
    function hidden_div(){
        $("#mod1").hide();
    }
    function dump(myObject) {  
        var s = "";  
        for (var property in myObject) {  
        s = s + "<br> "+property +": " + myObject[property] ;  
        }  
        $("#msg").html(s);
    }
    //默认地区
    window.dqsel1='';
    window.dqsel2='';
    window.dqsel3='';
    window.onlyone='0';
    window.onlyone2='0';
    for(var a in Area)
    {
        dqsel1=dqsel1+"<option value='"+Area[a]['provinceCode']+"'>"+Area[a]['provinceName']+"</option>";
        if(onlyone=='0')
        {
            for(var b in Area[a]['mallCityList'])
            {
                dqsel2=dqsel2+"<option value='"+Area[a]['mallCityList'][b]['cityCode']+"'>"+Area[a]['mallCityList'][b]['cityName']+"</option>";
                if(onlyone2=='0')
                {
                    for(var c in Area[a]['mallCityList'][b]['mallAreaList'])
                    {
                        dqsel3=dqsel3+"<option value='"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']+"'>"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaName']+"</option>";
                    }
                }
                onlyone2='1';
            }
            onlyone='1';
        }
    }
    //当点击编辑时
    function changetext()
    {
        //显示文件上传按钮
        layui.upload({
            url: root_dir+"/index.php/Home/CompanyinfoDo/imageuplode",
            title:"选择图片",
            before: function(input){
                //返回的参数item，即为当前的input DOM对象
                window.jiazai= layer.load(2);
               //tishi('文件上传中');
            },
            success: function(res){
                if(res['res']=='1')
                {
                    layer.close(jiazai);
                    tishi('更换成功');
                    $("#headimg").attr("src",root_dir+'/Public/head-img/'+res['newpath']);
                }
                else
                {
                    tishi("更换失败，请刷新后重试");
                }
               
            },
        });
       //将编辑按钮改为保存按钮
        $("#info-head").html("公司信息<button id='bianji' onclick='baocun()'>保存</button><button id='quxiao' onclick='quxiao()'>取消</button>");
        //获取公司原本的信息
        var gs_name         =$("#gs_name").text();
        var qy_jiancheng    =$("#qy_jiancheng").text();
        var ss_hangye       =$("#hid_hy_val").val();
        var sz_diqu         =$("#hid_dq_val").val();
        var gs_address      =$("#gs_address").text();
        var gs_guimo        =$("#hid_gm_val").val();
        //添加表单元素--文本框
        $("#gs_name").html("<input type='text' id='gsmcinput' name='gsmc' required lay-verify='required' value='"+gs_name+"' placeholder='请输入公司名称' autocomplete='off' class='layui-input'  />");
        $("#qy_jiancheng").html("<input type='text' id='gsjcinput' name='gsjc' required lay-verify='required' value='"+qy_jiancheng+"' placeholder='请输入企业简称' autocomplete='off' class='layui-input'  />");
        $("#gs_address").html("<input type='text' id='gsdzinput' name='gsdz' required lay-verify='required' value='"+gs_address+"' placeholder='请输入公司地址' autocomplete='off' class='layui-input'  />");
        //添加表单元素--下拉框
        $("#ss_hangye").html("<select id='hangyesel' name='sshysel' lay-verify='required' class='layui-select'style='width:100%'><option value=''>请选择所属行业</option><option value='1'>电信</option><option value='2'>教育</option><option value='3'>高科技</option><option value='4'>政府</option><option value='5'>制造业</option><option value='6'>服务业</option><option value='7'>能源</option><option value='8'>零售</option><option value='9'>媒体</option><option value='10'>娱乐</option><option value='11'>咨询</option><option value='12'>金融</option><option value='13'>公共事业</option><option value='14'>非盈利事业</option><option value='15'>其它</option></select>");
        //添加表单元素--地区
        $("#sz_diqu").html("<select name='dqsel1' id='dqsel1' lay-verify='required' class='layui-select'style='width:30%;margin-right:5%'></select><select name='dqsel2' id='dqsel2' lay-verify='required' class='layui-select'style='width:30%'></select><select name='dqsel3' id='dqsel3' lay-verify='required' class='layui-select'style='width:30%;margin-left:5%'></select>");
        //添加表单元素--规模
        $("#gs_guimo").html("<select id='gsgmsel' name='gsgmsel' lay-verify='required' class='layui-select'style='width:100%'><option value=''>请选择公司规模</option><option value='1'>&lt;10人</option><option value='2'>10-20人</option><option value='3'>20-50人</option><option value='4'>50-100人</option><option value='5'>100-500人</option><option value='6'>500人以上</option></select>");
        if("{$gsxxarr['gsxx_dq_bm']}"=='')//如果数据库中没有存地区，则显示默认的北京地区
        {
            dqbmarr=['110000','110100','110001'];
        }
        else//如果数据库中有地区数据，就显示数据库中存的数据
        {
            var dqbm="{$gsxxarr['gsxx_dq_bm']}";
            var dqbmarr=dqbm.split(",");
        }
        window.dqsel1='';
        window.dqsel2='';
        window.dqsel3='';
        for(var a in Area)
        {
            if(Area[a]['provinceCode']!=dqbmarr[0])
            {
                dqsel1=dqsel1+"<option value='"+Area[a]['provinceCode']+"'>"+Area[a]['provinceName']+"</option>";
            }
            else
            {
                dqsel1=dqsel1+"<option value='"+Area[a]['provinceCode']+"' selected>"+Area[a]['provinceName']+"</option>";
                for(var b in Area[a]['mallCityList'])
                {
                    if(Area[a]['mallCityList'][b]['cityCode']!=dqbmarr[1])
                    {
                        dqsel2=dqsel2+"<option value='"+Area[a]['mallCityList'][b]['cityCode']+"'>"+Area[a]['mallCityList'][b]['cityName']+"</option>";
                    }
                    else
                    {
                        dqsel2=dqsel2+"<option value='"+Area[a]['mallCityList'][b]['cityCode']+"' selected>"+Area[a]['mallCityList'][b]['cityName']+"</option>";
                        for(var c in Area[a]['mallCityList'][b]['mallAreaList'])
                        {
                            if(Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']!=dqbmarr[2])
                            {
                                dqsel3=dqsel3+"<option value='"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']+"'>"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaName']+"</option>";
                            }
                            else
                            {
                                dqsel3=dqsel3+"<option value='"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']+"' selected>"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaName']+"</option>";
                            }
                        }
                    }
                }
            }
        }
        $("#dqsel1").html(dqsel1);
        $("#dqsel2").html(dqsel2);
        $("#dqsel3").html(dqsel3);
        $("#hangyesel").val("{$gsxxarr['gsxx_hy']}");
        $("#gsgmsel").val("{$gsxxarr['gsxx_gm']}");
        liandong();
    }
    //修改完之后的保存操作
    function baocun()
    {
        var oldgsmc="{$gsxxarr['gsxx_name']}";//修改之前的公司名称
        var oldgsjc="{$gsxxarr['gsxx_jc']}";//修改之前的公司简称
        var oldshhy="{$gsxxarr['gsxx_hy']}";//修改之前的所属行业
        var oldszdq="{$gsxxarr['gsxx_dq_bm']}";//修改之前的所在地区编码
        var oldgsdz="{$gsxxarr['gsxx_dz']}";//修改之前的公司地址
        var oldgsgm="{$gsxxarr['gsxx_gm']}";//修改之前的公司规模

        var newgsmc=$("#gsmcinput").val();//修改之后的公司名称
        var newgsjc=$("#gsjcinput").val();//修改之后的公司简称
        var newshhy=$("#hangyesel").val();//修改之后的所属行业
        var newszdq=$("#dqsel1").val()+','+$("#dqsel2").val()+','+$("#dqsel3").val();//修改之后的所在地区编码
        var newgsdz=$("#gsdzinput").val();//修改之后的公司地址
        var newgsgm=$("#gsgmsel").val();//修改之后的公司规模
        if(newgsmc=='')
        {
            tishi("公司名称不能为空");
            return false;
        }
        var neededit='';
        if(oldgsmc!=newgsmc)
        {
            neededit="gsxx_name:"+newgsmc+',,';
        }
        if(oldgsjc!=newgsjc)
        {
            neededit=neededit+"gsxx_jc:"+newgsjc+',,';
        }
        if(oldshhy!=newshhy)
        {
            neededit=neededit+"gsxx_hy:"+newshhy+',,';
        }
        if(oldszdq!=newszdq)
        {
            neededit=neededit+"gsxx_dq_bm:"+newszdq+',,';
            var newszdqmc=$("#dqsel1").children("option:checked").text()+','+$("#dqsel2").children("option:checked").text()+','+$("#dqsel3").children("option:checked").text();//修改之后的所在地区名称
            neededit=neededit+"gsxx_dq:"+newszdqmc+',,';
        }
        if(oldgsdz!=newgsdz)
        {
            neededit=neededit+"gsxx_dz:"+newgsdz+',,';
        }
        if(oldgsgm!=newgsgm)
        {
            neededit=neededit+"gsxx_gm:"+newgsgm+',,';
        }
        if(neededit=='')
        {
            location.reload();
        }
        else
        {
            $.get(root_dir+"/index.php/Home/CompanyinfoDo/companyinfoedit",{"editinfo":neededit},function(res){
                errorFun(res);
                if(res==1)
                {
                    location.reload();
                }
                else if(res==2)
                {
                    tishi("修改失败");
                }
                else
                {
                    tishi("修改失败，请刷新后重试");
                }
            });
        }
    }
    //取消编辑公司信息
    function quxiao()
    {
        location.reload();
    }
    function liandong()
    {
        //二级联动
        $("#dqsel1").change(function(){
            var linshi=$("#dqsel1").val();
            window.dqsel2='';
            window.dqsel3='';
            var only1='0';
            for(var a in Area)
            {
                if(Area[a]['provinceCode']==linshi)
                {
                    for(var b in Area[a]['mallCityList'])
                    {
                        dqsel2=dqsel2+"<option value='"+Area[a]['mallCityList'][b]['cityCode']+"' selected>"+Area[a]['mallCityList'][b]['cityName']+"</option>";
                        if(only1=='0')
                        {
                            for(var c in Area[a]['mallCityList'][b]['mallAreaList'])
                            {
                                dqsel3=dqsel3+"<option value='"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']+"'>"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaName']+"</option>";
                            }
                            only1=='1';
                        }
                    }
                }
            }
            $("#dqsel2").html(dqsel2);
            $("#dqsel3").html(dqsel3);
        });
        //三级联动
        $("#dqsel2").change(function(){
            var linshi1=$("#dqsel1").val();
            var linshi2=$("#dqsel2").val();
            window.dqsel3='';
            for(var a in Area)
            {
                if(Area[a]['provinceCode']==linshi1)
                {
                    for(var b in Area[a]['mallCityList'])
                    {
                        if(Area[a]['mallCityList'][b]['cityCode']==linshi2)
                        {
                            for(var c in Area[a]['mallCityList'][b]['mallAreaList'])
                            {
                                dqsel3=dqsel3+"<option value='"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaCode']+"'>"+Area[a]['mallCityList'][b]['mallAreaList'][c]['areaName']+"</option>";
                            }
                        }
                    }
                }
            }
            $("#dqsel3").html(dqsel3);
        });
    }
</script>
</html>
