<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>部门和用户设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/css/global.css" media="all">
    <script src="{$_GET['public_dir']}/jquery/jquery.js"></script>
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/font-awesome/css/font-awesome.min.css">
    <!--datatable引用文件-->
    <link href="{$_GET['public_dir']}/datatable/css/dataTables.bootstrap.css" rel="stylesheet">
    <link href="{$_GET['public_dir']}/bootstrap/css/bootstrap.css" rel="stylesheet">
    <script src="{$_GET['public_dir']}/datatable/js/jquery.dataTables.min.js"></script>
    <script src="{$_GET['public_dir']}/bootstrap/js/bootstrap.js" ></script>
    <script src="{$_GET['public_dir']}/datatable/js/dataTables.bootstrap.js"></script>
    <!--layUI 插件 --弹窗设计 form表单样式 -->
    <script src="{$_GET['public_dir']}/index_js_css/plugins/layui/layui.js"> </script>
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/layui/css/layui.css" media="all">
    <style>
        *{margin:0;padding:0;}
        a{text-decoration:none;cursor:pointer;}
        ul{list-style:none;}
        #box{margin-left:10px;margin-right:10px;}
        /*头部标题文字*/
        #mod-head{height:100px;font-size:22px;line-height:100px;color:#1AA094;font-weight:bold;}
        /*操作日志*/
        #caozuoshaixuan,#denglushaixuan,#xitongshaixuan{width:100%;background-color:#F5F5F5;height:50px;line-height:50px;margin-bottom:5px;}
        #xitongmokuai,#caozuoleibie,#caozuorenyuan,#denglurenyuan,#xitongrenyuan{float:left;margin-left:10px;margin-top:5px;}
        .caozuodate{float:left;margin-top:5px;}
        .dateleftmargin{margin-left:20px;}
        .datecenter{border:0.5px solid #E6E6E6;height:38px;width:40px;margin-top:5px;text-align:center;color:#999;line-height:36px;}
    </style>
</head>
<body>
    <div id="box">
        <!--头部文字-->
        <div id="mod-head">
            日志查询
        </div>
        <!--头部结束-->
        <div id="bodybox">
            <div class="layui-tab layui-tab-card">
                <ul class="layui-tab-title">
                    <li class="layui-this" onclick="caozuorzload()">操作日志</li>
                    <li onclick="loginrzload()">登陆日志</li>
                    <li onclick="sysrzload()" onclick="sysrzload()">系统日志</li>
                </ul>
                <div class="layui-tab-content" >
                    <!--操作日志-->
                    <div class="layui-tab-item layui-show">
                        <div id="caozuoshaixuan" class="layui-form">
                            <div id="xitongmokuai">
                                <select lay-verify="required" lay-search lay-filter="xitongmokuai">
                                    <option value=''>所有系统模块</option>
                                    <option value='1'>线索</option>
                                    <option value='2'>客户</option>
                                    <option value='3'>客户公海</option>
                                    <option value='4'>联系人</option>
                                    <option value='5'>商机</option>
                                    <option value='6'>合同</option>
                                    <option value='7'>产品</option>
                                    <option value='8'>报表中心</option>
                                    <option value='9'>工作报告</option>
                                    <option value='10'>跟进记录</option>
                                    <option value='11'>知识库</option>
                                </select>
                            </div>
                            <div id="caozuoleibie">
                                <select lay-verify="required" lay-search lay-filter="caozuoleibie">
                                    <option value="">所有操作类别</option>
                                    <option value="1">新建</option>
                                    <option value="2">编辑</option>
                                    <option value="3">删除</option>
                                    <option value="4">处理</option>
                                    <option value="5">提交</option>
                                    <option value="6">通过</option>
                                    <option value="7">否决</option>
                                    <option value="8">导入</option>
                                    <option value="9">导出</option>
                                    <option value="10">转移给他人</option>
                                    <option value="11">转成客户</option>
                                    <option value="12">导入至客户公海</option>
                                    <option value="13">转入客户公海</option>
                                    <option value="14">抢公海客户</option>
                                    <option value="15">客户公海删除</option>
                                    <option value="16">导入跟进记录</option>
                                    <option value="17">添加回款记录</option>
                                    <option value="18">编辑回款记录</option>
                                    <option value="19">删除回款记录</option>
                                    <option value="20">提交回款记录审批</option>
                                    <option value="21">否决回款记录审批</option>
                                    <option value="22">驳回回款记录审批</option>
                                    <option value="23">通过回款记录审批</option>
                                    <option value="24">添加回款计划</option>
                                    <option value="25">编辑回款计划</option>
                                    <option value="26">删除回款计划</option>
                                    <option value="27">添加开票记录</option>
                                    <option value="28">编辑开票记录</option>
                                    <option value="29">删除开票记录</option>
                                    <option value="30">添加附件</option>
                                    <option value="31">删除附件</option>
                                    <option value="32">删除跟进记录</option>
                                    <option value="33">添加关联产品</option>
                                    <option value="34">编辑关联产品</option>
                                    <option value="35">删除关联产品</option>
                                    <option value="36">添加关联联系人</option>
                                    <option value="37">编辑关联联系人</option>
                                    <option value="38">删除关联联系人</option>
                                    <option value="39">转成合同</option>
                                    <option value="40">批阅</option>
                                    <option value="41">交接</option>
                                    <option value="42">启用</option>
                                    <option value="43">关闭</option></select>
                                </select>
                            </div>
                            <div id="caozuorenyuan">
                                <select lay-verify="required" lay-search lay-filter="caozuorenyuan">
                                    <option value=''>请选择操作人员</option>
                                    {$usersel}
                                </select>
                            </div>
                            <div class="caozuodate dateleftmargin">
                                <input class="layui-input" placeholder="开始日" id="caozuostart">
                            </div>
                            <div class="caozuodate datecenter">-</div>
                            <div class="caozuodate">
                                <input class="layui-input" placeholder="截止日" id="caozuoend">
                            </div>
                            <button class="layui-btn caozuodate" style="height:36px;margin-left:10px;margin-top:6px;" onclick="shaixuan()">查询</button>
                        </div>
                        <table id="caozuolog" class="table table-bordered table-striped table-hover">
                           <thead>
                               <th width="100px">流水编号</th>
                               <th width="200px">操作时间</th>
                               <th width="100px">操作人员</th>
                               <th width="100px">所属模块</th>
                               <th width="100px">操作类型</th>
                               <th>备注</th>
                           </thead>
                           <tbody>
                               {$caozuostr}
                           </tbody>
                       </table>
                    </div>
                    <!--登陆日志-->
                    <div class="layui-tab-item">
                        <div id="denglushaixuan" class="layui-form">
                            <div id="denglurenyuan">
                                <select lay-verify="required" lay-search lay-filter="caozuorenyuan">
                                    <option value=''>请选择操作人员</option>
                                    {$usersel}
                                </select>
                            </div>
                            <div class="caozuodate dateleftmargin">
                                <input class="layui-input" placeholder="开始日" id="denglustart">
                            </div>
                            <div class="caozuodate datecenter">-</div>
                            <div class="caozuodate">
                                <input class="layui-input" placeholder="截止日" id="dengluend">
                            </div>
                            <button class="layui-btn caozuodate" style="height:36px;margin-left:10px;margin-top:6px;" onclick="shaixuan()">查询</button>
                        </div>
                        <table id="denglulog" class="table table-bordered table-striped table-hover">
                           <thead>
                               <th>流水编号</th>
                               <th>登录人员</th>
                               <th>登录地点</th>
                               <th>IP</th>
                               <th>登录时间</th>
                               <th>登录设备</th>
                           </thead>
                           <tbody>
                           </tbody>
                       </table>
                    </div>
                    <!--系统日志-->
                    <div class="layui-tab-item">
                        <div id="xitongshaixuan" class="layui-form">
                            <div id="xitongrenyuan">
                                <select lay-verify="required" lay-search lay-filter="caozuorenyuan">
                                    <option value=''>请选择操作人员</option>
                                    {$usersel}
                                </select>
                            </div>
                            <div class="caozuodate dateleftmargin">
                                <input class="layui-input" placeholder="开始日" id="xitongstart">
                            </div>
                            <div class="caozuodate datecenter">-</div>
                            <div class="caozuodate">
                                <input class="layui-input" placeholder="截止日" id="xitongend">
                            </div>
                            <button class="layui-btn caozuodate" style="height:36px;margin-left:10px;margin-top:6px;" onclick="shaixuan()">查询</button>
                        </div>
                        <table id="xitonglog" class="table table-bordered table-striped table-hover">
                           <thead>
                               <th>流水编号</th>
                               <th>操作时间</th>
                               <th>操作人员</th>
                               <th>模块</th>
                               <th>操作内容</th>
                               <th>操作设备</th>
                               <th>操作设备IP</th>
                           </thead>
                           <tbody>
                               
                           </tbody>
                       </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
<script>
    window.loginrzshow='0';
    window.sysrzshow='0';
    window.root_dir="{$_GET['root_dir']}";
    //初始化layui的基础组件
    layui.use('element', function(){
         var element = layui.element();
    });
    //黑色半透明提示
    function tishi(neirong)
    {
        layer.msg(neirong, {
            time: 1000, 
        });
    }
    window.rizhitype='1';
    window.xitongmokuai='';
    window.caozuoleibie='';
    window.caozuorenyuan='';
    window.timestartstr='caozuostart';
    window.timeendstr='caozuoend';
    window.nowtableid='caozuolog';
    //layui初始化form样式
    layui.use('form', function(){
        window.form = layui.form();
        form.on('select(xitongmokuai)', function(data){
            window.xitongmokuai=data.value;
            shaixuan();
        });
        form.on('select(caozuoleibie)', function(data){
            window.caozuoleibie=data.value;
            shaixuan();
        });
        form.on('select(caozuorenyuan)', function(data){
            window.caozuorenyuan=data.value;
            shaixuan();
        });
    });
    
    //datatable函数
    function datatablefun(tableid)
    {
        $(tableid).dataTable({
            autoWidth: true,
            ordering: true,//是否启用排序
            searching: true,//搜索
            language: {
                lengthMenu: '<span id="pagefont">每页显示：</span><select class="form-control input-xsmall" id="pagenum">' + '<option value="5">5</option>' + '<option value="10">10</option>' + '<option value="20">20</option>' + '<option value="30">30</option>' + '<option value="40">40</option>' + '<option value="50">50</option>' + '</select>',//左上角的分页大小显示。
                search: '',//右上角的搜索文本，可以写html标签
                paginate: {
                    next: "下一页",
                    first: "首页",
                    last: "末页",
                    sPrevious:"上一页",
                },
                zeroRecords: "没有内容",//table tbody内容为空时，tbody的内容。
                //下面三者构成了总体的左下角的内容。
                info: "总共_PAGES_ 页",//左下角的信息显示，大写的词为关键字。
                infoEmpty: "",//筛选为空时左下角的显示。
                infoFiltered: "搜索到 _TOTAL_条记录"//筛选之后的左下角筛选提示，
            },
            paging: true,
            pagingType: "full_numbers",//分页样式的类型
        });
    }
    //操作日志datatable效果引用
    datatablefun('#caozuolog');
    //layui日期组件
    layui.use('laydate', function(){
        var laydate = layui.laydate;
        var start = {
            min: '1099-06-16 23:59:59'
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                end.min = datas; //开始日选好后，重置结束日的最小日期
                end.start = datas //将结束日的初始值设定为开始日
            }
        };
        var end = {
            min: '1099-06-16 23:59:59'
            ,max: '2099-06-16 23:59:59'
            ,istoday: false
            ,choose: function(datas){
                start.max = datas; //结束日选好后，重置开始日的最大日期
            }
        };
        document.getElementById('caozuostart').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('caozuoend').onclick = function(){
            end.elem = this
            laydate(end);
        }
        document.getElementById('denglustart').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('dengluend').onclick = function(){
            end.elem = this
            laydate(end);
        }
        document.getElementById('xitongstart').onclick = function(){
            start.elem = this;
            laydate(start);
        }
        document.getElementById('xitongend').onclick = function(){
            end.elem = this
            laydate(end);
        }
    });
    //进行筛选
    function shaixuan()
    {
        var timestart=$("#"+timestartstr).val();
        var timeend=$("#"+timeendstr).val();
        if(timeend<timestart)
        {
            tishi("结束时间不能小于开始时间");
            return false;
        }
        $.ajaxSetup({
            async : false
        });
        $.get(root_dir+"/index.php/Home/RizhiDo/shaixuan",{"rz_type":rizhitype,"rz_mode":xitongmokuai,"rz_cz_type":caozuoleibie,"rz_user":caozuorenyuan,"stime":timestart,"etime":timeend},function(res){
            dttable = $('#'+nowtableid).dataTable();
            dttable.fnClearTable(); //清空一下table
            dttable.fnDestroy(); //还原初始化了的datatable
            $("#"+nowtableid).children("tbody").html(res);
        });
        datatablefun('#'+nowtableid);
    }
    //切换日志时
    function caozuorzload()
    {
        window.rizhitype='1';
        window.timestartstr='caozuostart';
        window.timeendstr='caozuoend';
        window.nowtableid='caozuolog';
    }
    function loginrzload()
    {
        window.rizhitype='2';
        window.xitongmokuai='';
        window.caozuoleibie='';
        window.caozuorenyuan='';
        window.timestartstr='denglustart';
        window.timeendstr='dengluend';
        window.nowtableid='denglulog';
        if(loginrzshow=='0')
        {
            shaixuan();
            loginrzshow='1';//每次刷新只加载一次
        }
    }
    function sysrzload()
    {
        window.rizhitype='3';
        window.xitongmokuai='';
        window.caozuoleibie='';
        window.caozuorenyuan='';
        window.timestartstr='xitongstart';
        window.timeendstr='xitongend';
        window.nowtableid='xitonglog';
        if(sysrzshow=='0')
        {
            shaixuan();
            sysrzshow='1';//每次刷新只加载一次
        }
    }
</script>
</html>

