<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>部门和用户设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/css/global.css" media="all">
    <script src="{$_GET['public_dir']}/jquery/jquery.js"></script>
    <!--layUI 插件 --弹窗设计 form表单样式 -->
    <script src="{$_GET['public_dir']}/index_js_css/plugins/layui/layui.js"> </script>
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/layui/css/layui.css" media="all">
    <style>
        *{margin:0;padding:0;}
        #box div{overflow:hidden;}
        a{text-decoration:none;cursor:pointer;}
        ul{list-style:none;}
        #box{margin-left:10px;margin-right:10px;}
        
        #mod-head{height:100px;font-size:22px;line-height:100px;color:#1AA094;font-weight:bold;}
        #mod1{background-color:#DFF0D8;height:42px;color:#255B56;padding-left:15px;padding-top:20px;padding-bottom:0px;border-radius:0px;}
        #mod1 div{height:22px;font-size:12px;}
        #hidden-div{float:right;font-weight:bold;margin-right:15px;font-size:20px;color:#656565;}
        /*mod2下方选项卡*/
        .fa-reorder{margin-left:10px;}
        /*选项卡内容*/
        .tab-top{height:60px;line-height:60px;padding-left:10px;background-color:#F5F5F5;color:#656565;}
        .tab-top button{margin-right:10px;}
        .tab-top2{height:60px;line-height:60px;padding-left:10px;background-color:#F5F5F5;color:#656565;}
        .tab-top2 button{margin-right:10px;}

        
        /*审批表格样式*/
        #shenpi-body table{margin-top:10px;width:100%}
        #huikuan-body table{margin-top:10px;width:100%}
        #shenpi-body table tr{height:50px;}
        .thead{background-color:#F5F5F5;height:40px;padding-left:10px;color:#656565;}
        .selectbox{height:30px;color:#656565;}
        .layui-form{width:120px;}
        .sel-td{width:160px;padding-top:5px;}
        /*表格下方说明*/
        .shuoming{display:block;height:30px;color:#656565;}
        .redcolor{color:#f00;}
    </style>
</head>

<body>
<div id="box">
    <!--头部文字-->
    <div id="mod-head">
    自定义审批
    </div>
    <!--头部结束-->
    <!--中部提示-->
    <div id="mod1">
        <div>提示：企业可以根据自己业务的实际情况，对审批流程进行个性化调整。<span id="hidden-div"><a onclick="hidden_div()">×</a></span></div>
    </div>
    <!--中部结束-->
    <!--下部数据展示模块-->
    <div id="mod2">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">合同审批</li>
                <li>合同回款审批</li>
            </ul>
            <div class="layui-tab-content" >
                <!--审批-->
                <div class="layui-tab-item layui-show">
                    <div class="tab-top">
                    </div>
                    <div id="shenpi-body">
                        <table>
                            <tr>
                                <td colspan="3" class="thead">审批设置</td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="1级审批人"></td>
                                <td class="sel-td">
                                    <select class="selectbox" id="sel1">
                                        <option value='1'>合同提交人上级</option>
                                        <option value='2'>固定审批人</option>
                                        <option value='3'>超级管理员</option>
                                    </select>
                                </td>
                                <td id="lv1"></td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="2级审批人"></td>
                                <td class="sel-td">
                                    <select class="selectbox" id="sel2">
                                        <option value='1'>合同提交人上级</option>
                                        <option value='2'>固定审批人</option>
                                        <option value='3'>超级管理员</option>
                                    </select>
                                </td>
                                <td id="lv2"></td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="3级审批人"></td>
                                <td class="sel-td">
                                    <select class="selectbox" id="sel3">
                                        <option value='1'>合同提交人上级</option>
                                        <option value='2'>固定审批人</option>
                                        <option value='3'>超级管理员</option>
                                    </select>
                                </td>
                                <td id="lv3"></td>
                            </tr>
                        </table>
                        <span class="shuoming"><span class="redcolor">*</span>超级管理员自动可以审批所有合同。</span>
                        <span class="shuoming"><span class="redcolor">*</span>审批人可以审批合同，也可将审批通过的合同驳回。</span>
                        <span class="shuoming"><span class="redcolor">*</span>合同提交人上级是指提交人的主管，以及提交人主管的主管，以此类推。</span>
                        <span class="shuoming"><span class="redcolor">*</span>固定审批人，最多可选择7人。</span>
                        <span class="shuoming"><span class="redcolor">*</span>如合同提交后，没有对应的审批人时，会自动通过合同审批</span>
                        <span class="shuoming redcolor">（例如，审批人仅设置了“合同提交人上级”，而提交人没有上级，则提交合同审批后，此合同自动通过审批。）</span>
                        <button class="layui-btn">保存</button>
                    </div>
                </div>
                <!--回款审批-->
                <div class="layui-tab-item">
                    <div class="tab-top2">
                    </div>
                    <div id="huikuan-body">
                        <table>
                            <tr>
                                <td colspan="3" class="thead">合同回款审批设置</td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="超级管理员"></td>
                                <td class="sel-td">
                                </td>
                                <td id="lv1"></td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="提交人上级"></td>
                                <td class="sel-td">
                                </td>
                                <td id="lv2"></td>
                            </tr>
                            <tr>
                                <td class="layui-form"><input type="checkbox" title="固定审批人"></td>
                                <td class="sel-td">
                                    <button class="layui-btn" style="height:30px;line-height:30px;" onclick="hkxuanze()">选择审批人</button>
                                </td>
                                <td id="huikuanmainshow"></td>
                            </tr>
                        </table>
                        <span class="shuoming"><span class="redcolor">*</span>勾选后，上述人既可以审批合同回款，还可以将已审批的合同回款驳回。</span>
                        <span class="shuoming"><span class="redcolor">*</span>最多选择7个固定审批人。</span>
                        <span class="shuoming"><span class="redcolor">*</span>如果固定审批人对回款的合同没有查看权限，提交该合同审批时，系统将不会通知其审批。</span>
                        <button class="layui-btn">保存</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<!--1级审批人选择框-->
<div id="shenpiren1" style="padding:10px;">
    <select id="tanchuangsel1" style="height:30px;float:left;">
        <option value='0'>请选择审批人</option>
        <option value='李东' class="李东">李东</option>
        <option value='王玉帅' class="王玉帅">王玉帅</option>
        <option value='阴文策' class="阴文策">阴文策</option>
    </select>  
    <div id="showshenpidiv1" style="margin-bottom:10px;float:left;height:40px;padding-top:5px;margin-left:10px;">
    </div>
</div>
<!--2级审批人选择框-->
<div id="shenpiren2" style="padding:10px;">
    <select id="tanchuangsel2" style="height:30px;float:left;">
        <option value='0'>请选择审批人</option>
        <option value='李东' class="李东">李东</option>
        <option value='王玉帅' class="王玉帅">王玉帅</option>
        <option value='阴文策' class="阴文策">阴文策</option>
    </select>  
    <div id="showshenpidiv2" style="margin-bottom:10px;float:left;height:40px;padding-top:5px;margin-left:10px;">
    </div>
</div>
<!--3级审批人选择框-->
<div id="shenpiren3" style="padding:10px;">
    <select id="tanchuangsel3" style="height:30px;float:left;">
        <option value='0'>请选择审批人</option>
        <option value='李东' class="李东">李东</option>
        <option value='王玉帅' class="王玉帅">王玉帅</option>
        <option value='阴文策' class="阴文策">阴文策</option>
    </select>  
    <div id="showshenpidiv3" style="margin-bottom:10px;float:left;height:40px;padding-top:5px;margin-left:10px;">
    </div>
</div>
<!--回款审批人选择框-->
<div id="huikuandiv" style="padding:10px;">
    <select id="huikuansel" style="height:30px;float:left;">
        <option value='0'>请选择审批人</option>
        <option value='李东' class="李东">李东</option>
        <option value='王玉帅' class="王玉帅">王玉帅</option>
        <option value='阴文策' class="阴文策">阴文策</option>
    </select>  
    <div id="huikuanshow" style="margin-bottom:10px;float:left;height:40px;padding-top:5px;margin-left:10px;">
    </div>
</div>
<script>
    $("#shenpiren1").hide();
    $("#shenpiren2").hide();
    $("#shenpiren3").hide();
    $("#huikuandiv").hide();
    //上方绿色提示框的关闭效果
    function hidden_div(){
        $("#mod1").hide();
    }
    //加载layui表单样式
    layui.use('form', function(){
        var form = layui.form();
    });
    //初始化layui的基础组件
    layui.use('element', function(){
         var element = layui.element();
    });
    //黑色半透明提示
    function tishi(neirong)
    {
        layer.msg(neirong, {
            time: 1000, 
        });
    }
    //下拉框监听事件
    $(".selectbox").change(function(){
        var thisid=$(this).attr("id").substr(3,1);//获得id的值，判断改变了哪个下拉框
        window.windowlvid=thisid;
        var selval=$(this).val();//选择的下拉框的值
        var thisshowtd='lv'+thisid;//当前审批人的级别--显示表格
        if(selval=="2")//如果选择了固定审批人
        {
            $("#lv"+windowlvid).children("span").show();
          
            layui.use('layer', function(){
                var layer = layui.layer;
                window.tanchu=layer.open({
                    type:1,
                    area:'600px',
                    title: '选择审批人',
                    content:$('#shenpiren'+thisid),
                    btn: '保存',
                    btn1: function(index, layero){
                            var newtd=$("#showshenpidiv"+thisid).html();
                            $("#lv"+thisid).html(newtd);
                        layer.close(index);   
                    }
                }); 
            });  
        }
        else
        {
            $("#lv"+windowlvid).children("span").hide();
        }
    });
    //弹窗下拉框
    $("#tanchuangsel1").change(function(){
        var thisid=$(this).val();
        if(thisid!='0')
        {
            $("#tanchuangsel1").children("."+thisid+"").hide();
            var oldhtml=$("#showshenpidiv1").html();
            var newhtml=oldhtml+"<span style='border-radius:5px;background-color:#1E9FFF;height:30px;padding:5px;color:#fff;margin-right:10px;' class='span"+thisid+"'>"+thisid+"<a onclick=guanbi(this)  style='color:#fff;margin-left:10px;'>×</a></span>";
            $("#showshenpidiv1").html(newhtml);
            $(this).val(0);
        }
    });
    $("#tanchuangsel2").change(function(){
        var thisid=$(this).val();
        if(thisid!='0')
        {
            $("#tanchuangsel2").children("."+thisid+"").hide();
            var oldhtml=$("#showshenpidiv2").html();
            var newhtml=oldhtml+"<span style='border-radius:5px;background-color:#1E9FFF;height:30px;padding:5px;color:#fff;margin-right:10px;' class='span"+thisid+"'>"+thisid+"<a onclick=guanbi(this)  style='color:#fff;margin-left:10px;'>×</a></span>";
            $("#showshenpidiv2").html(newhtml);
            $(this).val(0);
        }
    });
    $("#tanchuangsel3").change(function(){
        var thisid=$(this).val();
        if(thisid!='0')
        {
            $("#tanchuangsel3").children("."+thisid+"").hide();
            var oldhtml=$("#showshenpidiv3").html();
            var newhtml=oldhtml+"<span style='border-radius:5px;background-color:#1E9FFF;height:30px;padding:5px;color:#fff;margin-right:10px;' class='span"+thisid+"'>"+thisid+"<a onclick=guanbi(this)  style='color:#fff;margin-left:10px;'>×</a></span>";
            $("#showshenpidiv3").html(newhtml);
            $(this).val(0);
        }
    });
    //关闭审批人小蓝框
    function guanbi(athis){
        //获取到当前操作的是几级审批人
        var guanbilv=$(athis).parent().parent().attr("id").substr(-1,1);
        //获取id头部
        var idhead=$(athis).parent().parent().attr("id").substr(0,2);
        //获得当前的class中的id
        var nowclass=$(athis).parent().attr("class").substr(4);
        if(idhead=='lv')//如果点击的是主页面上的叉号，必须删除主页面和弹窗隐藏后的页面的篮框
        {
            $("#lv"+guanbilv).children(".span"+nowclass).remove();
        }
        $("#showshenpidiv"+guanbilv).children(".span"+nowclass).remove();
        $("#tanchuangsel"+guanbilv).children("."+nowclass).show();
    }
    //开启或关闭合同审批
    var shenpistatus='1';//开启状态，需要在数据库中查询
    if(shenpistatus=='1')
    {
        $('.tab-top').html("<button class='layui-btn' onclick='kaiqiguanbi(0)'>关闭合同审批</button>合同审批功能已经开启,如需要关闭，请先审批完成待审批合同。");
    }
    else
    {
        $('.tab-top').html("<button class='layui-btn' onclick='kaiqiguanbi(1)'>开启合同审批</button>企业尚未开启合同审批功能。");
    }
    function kaiqiguanbi(val)
    {
        if(val=='0')
        {
            $("#shenpi-body").hide();
            $('.tab-top').html("<button class='layui-btn' onclick='kaiqiguanbi(1)'>开启合同审批</button>企业尚未开启合同审批功能。");
            shenpistatus='0';
        }
        else
        {
            $("#shenpi-body").show();
            $('.tab-top').html("<button class='layui-btn' onclick='kaiqiguanbi(0)'>关闭合同审批</button>合同审批功能已经开启,如需要关闭，请先审批完成待审批合同。");
            shenpistatus='1';
        }
    }
    //合同回款审批
    var huikuanstatus='1';
    if(huikuanstatus=='1')
    {
        $('.tab-top2').html("<button class='layui-btn' onclick='huikuankaiqiguanbi(0)'>关闭合同回款审批</button>");
    }
    else
    {
        $('.tab-top2').html("<button class='layui-btn' onclick='huikuankaiqiguanbi(1)'>开启合同回款审批</button>企业尚未开启合同回款审批功能。");
    }
    function huikuankaiqiguanbi(hkval)
    {
        if(hkval=='0')
        {
            $("#huikuan-body").hide();
            $('.tab-top2').html("<button class='layui-btn' onclick='huikuankaiqiguanbi(1)'>开启合同回款审批</button>企业尚未开启合同回款审批功能。");
            huikuanstatus='0';
        }
        else
        {
            $("#huikuan-body").show();
            $('.tab-top2').html("<button class='layui-btn' onclick='huikuankaiqiguanbi(0)'>关闭合同回款审批</button>");
            huikuanstatus='1';
        }
    }
    //回款审批人选择
    function hkxuanze()
    {
        layui.use('layer', function(){
            var layer = layui.layer;
            window.tanchu=layer.open({
                type:1,
                area:'600px',
                title: '选择审批人',
                content:$('#huikuandiv'),
                btn: '保存',
                btn1: function(index, layero){
                        var newtd=$("#huikuanshow").html();
                        $("#huikuanmainshow").html(newtd);
                    layer.close(index);   
                }
            }); 
        });  
    }
    //回款弹窗下拉框
    $("#huikuansel").change(function(){
        var thisid=$(this).val();
        if(thisid!='0')
        {
            $("#huikuansel").children("."+thisid+"").hide();
            var oldhtml=$("#huikuanshow").html();
            var newhtml=oldhtml+"<span style='border-radius:5px;background-color:#1E9FFF;height:30px;padding:5px;color:#fff;margin-right:10px;' class='span"+thisid+"'>"+thisid+"<a onclick=huikuanguanbi(this)  style='color:#fff;margin-left:10px;'>×</a></span>";
            $("#huikuanshow").html(newhtml);
            $(this).val(0);
        }
    });
    //回款关闭小蓝框
    function huikuanguanbi(athis)
    {
        //获取到当前操作的是几级审批人
        var guanbilv=$(athis).parent().parent().attr("id").substr(-1,1);
        //获取id头部
        var idhead=$(athis).parent().parent().attr("id");
        //获得当前的class中的id
        var nowclass=$(athis).parent().attr("class").substr(4);
        if(idhead=='huikuanmainshow')//如果点击的是主页面上的叉号，必须删除主页面和弹窗隐藏后的页面的篮框
        {
            $("#huikuanmainshow").children(".span"+nowclass).remove();
        }
        $("#huikuanshow").children(".span"+nowclass).remove();
        $("#huikuansel").children("."+nowclass).show();
    }
</script>
</html>

