<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>业绩目标设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!--jquery-->
    <script src="{$_GET['public_dir']}/jquery/jquery.js"></script>
    <!--layUI 插件  form表单样式 table样式 -->
    <script src="{$_GET['public_dir']}/index_js_css/plugins/layui/layui.js"> </script>
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/layui/css/layui.css" media="all">
    <style>
        *{margin:0;padding:0}
        a{text-decoration:none;cursor:pointer;color:#1AA094;margin-right:10px;}
        a:hover{color:#2F6F69;text-decoration:none;}
        #box{margin-left: 10px;margin-right: 10px;overflow:hidden;}
        /*头部页面名称*/
        #mod-head{height:100px;font-size:22px;line-height:100px;color:#1AA094;font-weight:bold;}
        /*中部可关闭的提示框*/
        #mod1{background-color:#DFF0D8;height:50px;color:#255B56;padding-left:15px;padding-bottom:0px;border-radius:0px;font-size:12px;line-height:50px;}
        #hidden-div{float:right;font-weight:bold;margin-right:15px;font-size:20px;color:#656565;}
        /*按钮*/
        #mod-button{margin-top:10px;margin-bottom:10px;}
        #mod-button i{margin-right:10px;}
        /*下部表格*/
        #xinzeng select{height:30px;width:400px;}
        #xinzeng td{height:50px;}
        #xinzeng{margin-top:20px;margin-bottom:20px;}
        .redstar{color:#f00;font-size:22px;margin-right:5px;}
    </style>
</head>
<body>
<div id="box">
    <!--头部文字-->
    <div id="mod-head">
    业绩目标
    </div>
    <!--头部结束-->
    <!--中部提示-->
    <div id="mod1">
        <div>
            提示:
            1、产品数量和产品金额是根据合同的关联产品来统计的。如果开启了合同和回款审批，则只统计通过了审批的合同和。产品金额是指建议价格*数量。
            <span id="hidden-div"><a onclick="hidden_div()">×</a></span>
        </div>
    </div>
    <!--中部结束-->
    <!--按钮模块-->
    <div id="mod-button">
        <button class="layui-btn" onclick="add()"><i class="layui-icon">&#xe608;</i>新增业绩目标</button>
    </div>
    <!--下部表格-->
    <div id="mod-table">
        <table  class="layui-table" lay-skin="line">
            <thead>
                <th>年度</th>
                <th>业绩类型</th>
                <th>业绩目标</th>
                <th>操作</th>
            </thead>
            <tbody>
                <tr>
                    <td>2017</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">赢单商机数</a></td>
                    <td>1232</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">查看</a><a onclick="copy()">复制</a><a href="">删除</a></td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">赢单商机数</a></td>
                    <td>1232</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">查看</a><a onclick="copy()">复制</a><a href="">删除</a></td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">赢单商机数</a></td>
                    <td>1232</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">查看</a><a onclick="copy()">复制</a><a href="">删除</a></td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">赢单商机数</a></td>
                    <td>1232</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">查看</a><a onclick="copy()">复制</a><a href="">删除</a></td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">赢单商机数</a></td>
                    <td>1232</td>
                    <td><a href="{$_GET['root_dir']}/index.php/Home/Option/yejimubiao_more">查看</a><a onclick="copy()">复制</a><a href="">删除</a></td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
<table id="xinzeng" width="600px" >
    <tr>
        <td width="150px" height="40px" align="center">
            <i class="redstar">*</i>对应年度
        </td>
        <td>
            <select>
                <option>请选择对应年度</option>
                <option>2005</option>
                <option>2006</option>
                <option>2007</option>
                <option>2008</option>
                <option>2009</option>
                <option>2010</option>
                <option>2011</option>
                <option>2012</option>
                <option>2013</option>
                <option>2014</option>
                <option>2015</option>
                <option>2016</option>
                <option>2017</option>
                <option>2018</option>
                <option>2019</option>
                <option>2020</option>
                <option>2021</option>
                <option>2022</option>
                <option>2023</option>
                <option>2024</option>
                <option>2025</option>
            </select>
        </td>
    </tr>
    <tr>
        <td width="150px" height="40px" align="center">
            <i class="redstar">*</i>业绩类型
        </td>
        <td>
            <select id="yeji_type">
                <option>请选择业绩类型</option>
                <option>赢单商机金额</option>
                <option>赢单商机数</option>
                <option>合同回款金额</option>
                <option>合同金额</option>
                <option>合同数</option>
                <option>产品销量</option>
                <option>产品销售额</option>
            </select>
        </td>
    </tr>
</table>
<script>
    $("#xinzeng").hide();
    //上方绿色提示框的关闭效果
    function hidden_div(){
        $("#mod1").hide();
    } 
    //黑色半透明提示
    function tishi(neirong)
    {
        layer.msg(neirong, {
            time: 1000, 
        });
    }     
    //新增业绩目标
    function add(){
        //将业绩类型改变为可选
        $("#yeji_type").prop("disabled",false);
        //打开弹出层
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type:1,
                area:"600px",
                title:"新增业绩目标",
                content: $("#xinzeng"),
                btn: '确认',
                btn1: function(index, layero){
                        tishi("新增成功")
                       layer.close(index);   
                    }
            });
        });
    }
    //复制业绩目标
    function copy(){
        //将业绩类型改变为不可选
        $("#yeji_type").prop("disabled",true);
        //打开弹出层
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type:1,
                area:"600px",
                title:"复制业绩目标",
                content: $("#xinzeng"),
                btn: '确认复制',
                btn1: function(index, layero){
                        tishi("复制成功")
                       layer.close(index);   
                    }
            });
        });
    }
</script>
</html>
