<!DOCTYPE html>

<html>

<head>
    <meta charset="utf-8">
    <title>部门和用户设置</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/css/global.css" media="all">
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/font-awesome/css/font-awesome.min.css">
    <script src="{$_GET['public_dir']}/jquery/jquery.js"></script>
    <!--layUI 插件 --弹窗设计 form表单样式 -->
    <script src="{$_GET['public_dir']}/index_js_css/plugins/layui/layui.js"> </script>
    <link rel="stylesheet" href="{$_GET['public_dir']}/index_js_css/plugins/layui/css/layui.css" media="all">
    <style>
        *{margin:0;padding:0;}
        #box div{overflow:hidden;}
        a{text-decoration:none;cursor:pointer;}
        ul{list-style:none;}
        #box{margin-left:10px;margin-right:10px;}
        
        #mod-head{height:100px;font-size:22px;line-height:100px;color:#1AA094;font-weight:bold;}
        #mod1{background-color:#DFF0D8;height:100px;color:#255B56;padding-left:15px;padding-top:10px;padding-bottom:0px;border-radius:0px;}
        #mod1 div{height:22px;font-size:12px;}
        #hidden-div{float:right;font-weight:bold;margin-right:15px;font-size:20px;color:#656565;}
        .left-mar{padding-left:37px;}
        /*mod2下方选项卡*/
        .fa-reorder{margin-left:10px;}
        /*隐藏的table 弹出层table*/
        #hid_table{width:560px;margin-left:20px;margin-right:20px;}
        #hid_table tr{height:70px;}
        .hid_tab_left{font-weight:bold;width:100px;}
        .teshu{color:#656565;margin-left:10px;}
    </style>
</head>

<body>
<div id="box">
    <!--头部文字-->
    <div id="mod-head">
    自定义业务字段
    </div>
    <!--头部结束-->
    <!--中部提示-->
    <div id="mod1">
        <div>提示：1.字段设置为启用，在系统中显示此字段和字段对应的数据；如果未启用则不显示。<span id="hidden-div"><a onclick="hidden_div()">×</a></span></div>
        <div class="left-mar">2.字段设置为必填，在系统中新增编辑时显示*，必须填写或选择后才能保存。</div>
        <div class="left-mar">3.字段设置为常用，在系统中新增编辑时默认直接显示；如果没有勾选则需展开后才能显示。</div>
        <div class="left-mar">4.每个功能模块中，最多可添加15个自定义字段和最多支持8个区块。</div>
    </div>
    <!--中部结束-->
    <!--下部数据展示模块-->
    <div id="mod2">
        <div class="layui-tab layui-tab-card">
            <ul class="layui-tab-title">
                <li class="layui-this">线索</li>
                <li>客户</li>
                <li>联系人</li>
                <li>商机</li>
                <li>合同</li>
                <li>产品</li>
            </ul>
            <div class="layui-tab-content" >
                <!--线索-->
                <div class="layui-tab-item layui-show">
                    <button onclick="xinzeng('xiansuo')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_xiansuo">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"><span class="teshu">(特殊字段，不能修改)</span></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"><span class="teshu">(特殊字段，不能修改)</span></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
                <!--客户-->
                <div class="layui-tab-item">
                    <button onclick="xinzeng('kehu')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_kehu">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
                <!--联系人-->
                <div class="layui-tab-item">
                    <button onclick="xinzeng('lianxiren')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_lianxiren">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
                <!--商机-->
                <div class="layui-tab-item">
                    <button onclick="xinzeng('shangji')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_shangji">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
                <!--合同-->
                <div class="layui-tab-item">
                    <button onclick="xinzeng('hetong')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_hetong">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
                <!--产品-->
                <div class="layui-tab-item">
                    <button onclick="xinzeng('chanpin')" class="layui-btn">新增字段</button>
                    <table class="layui-table" lay-skin="line" id="paixu_chanpin">
                        <thead>
                            <th width="60px">排序</th>
                            <th>字段名称</th>
                            <th width="200px">启用</th>
                            <th width="200px">必填</th>
                            <th width="200px">常用</th>
                            <th>操作</th>
                        </thead>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名1</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名2</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名3</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名4</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                        <tr>
                            <td class="tuozhuaiclass" onmousedown="tuozhuai()"><i class="fa fa-reorder" aria-hidden="true"></i></td>
                            <td>姓名5</td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td>&nbsp;&nbsp;<input type="checkbox"></td>
                            <td><a onclick="bianji()">编辑</a></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
<table id="hid_table">
    <tr>
        <td class="hid_tab_left">显示名称</td>
        <td><input type="text" placeholder="请填写显示名称，最长12个字符" class="layui-input"/></td>
    </tr>
    <tr>
        <td valign="top" class="hid_tab_left">输入提示</td>
        <td ><input type="text" placeholder="输入提示，不超过25个字符" class="layui-input"/><br>显示在输入框里面的提示用户输入的灰色文字，如： 请输入客户名称</td>
    </tr>
</table>
<script src="{$_GET['public_dir']}/paixu/build.js"></script>
<script>
    $("#hid_table").hide();
    //上方绿色提示框的关闭效果
    function hidden_div(){
        $("#mod1").hide();
    }
    //初始化layui的基础组件
    layui.use('element', function(){
         var element = layui.element();
    });
    //黑色半透明提示
    function tishi(neirong)
    {
        layer.msg(neirong, {
            time: 1000, 
        });
    }
    //新增字段按钮
    function xinzeng(mod)
    {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type:1,
                area:"600px",
                title:"新增字段",
                content: $("#hid_table"),
                btn: '保存',
                btn1: function(index, layero){
                        tishi("添加成功")
                       layer.close(index);   
                    }
            });
        });
    }
    //点击编辑事件
    function bianji()
    {
        layui.use('layer', function(){
            var layer = layui.layer;
            layer.open({
                type:1,
                area:"600px",
                title:"编辑字段",
                content: $("#hid_table"),
                btn: '保存',
                btn1: function(index, layero){
                        tishi("修改成功")
                       layer.close(index);   
                    }
            });
        });
    }
    //拖拽监听事件
    var mouseval='0';
    $(".tuozhuaiclass").on({
        //当鼠标按下时，将鼠标值改为1（标记鼠标已经按下）
        mousedown:function(){
            mouseval='1';
            $(".tuozhuaiclass").on({
                mousemove:function(){
                    //当鼠标为按下状态时（鼠标值为1时），然后再拖动时，将鼠标值改为2（标记鼠标按下并拖动）
                    if(mouseval=='1')
                    {
                        mouseval='2';
                        $("body").on({
                            mouseup:function(){
                                if(mouseval=='2')
                                {
                                    //当鼠标按下并拖动后，然后再松开鼠标时，完成整个拖动事件
                                    alert('触发鼠标拖动事件');
                                    mouseval='0';//还原鼠标值，用来进行下一次拖动判断
                                }
                            }
                        })
                    }
                }
            })
        }
    })
</script>
</html>

