<!DOCTYPE html>

<html>

	<head>
		<meta charset="utf-8">
		<title>联系人</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="__PUBLIC__/index_js_css/plugins/font-awesome/css/font-awesome.min.css"><!--图标2323awefawef-->
		<script src="__PUBLIC__/jquery/jquery.js"></script>
		<script src="__PUBLIC__/jquery-ui/jquery-ui.js"></script>

		<script src="__PUBLIC__/js/islogin.js"></script>
		<script src="__PUBLIC__/index_js_css/plugins/layui/layui.js"> </script>
		<link rel="stylesheet" href="__PUBLIC__/index_js_css/plugins/layui/css/layui.css" media="all">
<script src="__PUBLIC__/bootstrap/My97DatePicker/WdatePicker.js"></script>
		<link href="__PUBLIC__/jquery/searchable/jquery.searchableSelect.css" rel="stylesheet"  type="text/css">
		<script src="__PUBLIC__/jquery/searchable/jquery.searchableSelect.js"></script>
		<!--下面   地区插件-->
	
		

		<script>window.jQuery || document.write('<script src="{$_GET[\'public_dir\']}/diqu/js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="__PUBLIC__/diqu/js/distpicker.data.js"></script>
	    <script src="__PUBLIC__/diqu/js/distpicker.js"></script>
	    <script src="__PUBLIC__/diqu/js/main.js"></script>
<link rel="stylesheet" href="__PUBLIC__/uikit/css/uikit.almost-flat.min.css" />
		<script src="__PUBLIC__/uikit/js/uikit.min.js"></script>
<!--end!!-->
		
	</head>
	<body style="position:relative">
		合同自定义
	</body>
	
</html>
