<!DOCTYPE html>

<html style='width:100%;height:100%;'> 

	<head>
		<meta charset="utf-8">
		<title>联系人</title>
		<meta name="renderer" content="webkit">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
		<meta name="apple-mobile-web-app-status-bar-style" content="black">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" href="__PUBLIC__/index_js_css/plugins/font-awesome/css/font-awesome.min.css"><!--图标2323awefawef-->
		<script src="__PUBLIC__/jquery/jquery.js"></script>
		<script src="__PUBLIC__/jquery-ui/jquery-ui.js"></script>

		<script src="__PUBLIC__/js/islogin.js"></script>
		<script src="__PUBLIC__/index_js_css/plugins/layui/layui.js"> </script>
		<link rel="stylesheet" href="__PUBLIC__/index_js_css/plugins/layui/css/layui.css" media="all">
<script src="__PUBLIC__/bootstrap/My97DatePicker/WdatePicker.js"></script>
		<link href="__PUBLIC__/jquery/searchable/jquery.searchableSelect.css" rel="stylesheet"  type="text/css">
		<script src="__PUBLIC__/jquery/searchable/jquery.searchableSelect.js"></script>
		<!--下面   地区插件-->
	
		
		<link rel="stylesheet" href="__PUBLIC__/uikit/css/uikit.almost-flat.min.css" />
		<script src="__PUBLIC__/uikit/js/uikit.min.js"></script>
		<script>window.jQuery || document.write('<script src="{$_GET[\'public_dir\']}/diqu/js/jquery-1.11.0.min.js"><\/script>')</script>
		<script src="__PUBLIC__/diqu/js/distpicker.data.js"></script>
	    <script src="__PUBLIC__/diqu/js/distpicker.js"></script>
	    <script src="__PUBLIC__/diqu/js/main.js"></script>

		<script type="text/javascript" src="__PUBLIC__/baidu1/ueditor.config.js"></script>
		<!-- 编辑器源码文件 -->
		<script type="text/javascript" src="__PUBLIC__/baidu1/ueditor.all.js"></script>
<!--end!!-->
		
	</head>
	<body style="position:relative;width:100%;height:100%;   " >
	<div  style='width:100%;height:100%;' >

		<div class="gao" style='width:100%;height:100%;'>
			
			<table  style='width:100%;height:100%;margin-left:10px' class='csed ' >
				<tr>
					<td style=' width:900px;height:100%;'>
							<div class="gao" style='width:width:900x;height:100%;'><!--富文本-->
								
									<form action="pdf" method="post" target="_blank" style="width:900px">
										<span class='cun'></span>
										<table  >
										<tr><td>模板名称 :<input type='index' style=' height: 20px;
											max-width: 100%;
											padding: 4px 6px;
											border: 1px solid #ddd;
											background: #fff;
											color: #444;
											-webkit-transition: all linear .2s;
											transition: all linear .2s;
											border-radius: 4px;'  value="{$name}" class='namea' name="name" ></td>
											<td><span style='margin-left:30px'>	查看/修改已保存模板：{$rongqi}</span></td>
											<td><input style='margin-left:20px' type='button' class='uk-button'  onclick='pdfpz()' name='cpgd' value='PDF配置' > </td>
										</tr>
										<!---->
										</table>
											
										
											<script id="container" name='upfile'  style='margin-top:20px' class='ceshi1' type="text/plain">
												{$content}
											</script>		

											<span >	<button class="layui-btn layui-btn-small"  style="margin-top: 10px"  >在线查看</button>	
											<span class='thxg'><span style='color:white;margin-top: 10px '  class="layui-btn layui-btn-small" value="" onclick="pdf()">保存</span></span></span>	
											
											
									</form>
							</div>
					</td>
					
					<td style=' width:40%;height:100%;'>
						<div  style='width:80%;height:100%;border:1px solid #CFCFCF;'>
							<p  style="margin-top:4px;text-align: center;"><b>可插入字段</b></p>
							<p  style="margin-top:4px;text-align: center;color:red;font-size:11px">注：字段插入后不可对插入的字段进行修改！！</p>
					
							<div style="line-height:40px;margin-top:-30px">
								<span style='margin-left:5px'>
								

									
								
									<div class="layui-tab layui-tab-brief" lay-filter="docDemoTabBrief">
									  <ul class="layui-tab-title">
									    <li class="layui-this">合同信息</li>
									    <li>开票信息</li>
									    <li>产品选项</li>
									   
									  </ul>
									  <div class="layui-tab-content">
									  		 <div class="layui-tab-item layui-show">
									  		 		<button id="-合同编号-"  draggable="true" ondragstart="drag(event)"  class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius ">合同编号</button>
													<button id="-甲方名称-" draggable="true" ondragstart="drag(event)" class="layui-btn  layui-btn-primary layui-btn-small layui-btn-radius">甲方名称</button>
													<button id="-合同签约日期-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">合同签约日期</button>
													<button id="-合同金额-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">合同金额</button>
													
													<button id="-联系人-" draggable="true" ondragstart="drag(event)" class="layui-btn  layui-btn-primary layui-btn-small layui-btn-radius">联系人</button>
													<button id="-地址-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">地址</button>
													<button id="-电话-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">电话</button>
													<button id="-传真-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">传真</button>
									  		 </div>
										     <div class="layui-tab-item">
										     		
													<button id="-开户行-" draggable="true" ondragstart="drag(event)" class="layui-btn  layui-btn-primary layui-btn-small layui-btn-radius">开户行</button>
													<button id="-银行账号-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">银行账号</button>
													<button id="-税号-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">税号</button>
													<button id="-注册地址-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">注册地址</button>
													<button id="-银行预留电话电话-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">银行预留电话</button>
										     </div>
										     <div class="layui-tab-item">
														     	
													<button id="-产品名称-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">产品名称</button>
													<button id="-产品价格-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">产品价格</button>
													<button id="-产品描述-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">产品描述</button>
													<button id="-数量-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">数量</button>
													<button id="-总价-" draggable="true" ondragstart="drag(event)" class="layui-btn layui-btn-primary layui-btn-small layui-btn-radius">总价</button>
													
										     </div>
									  	
									  </div>

									</div>  
								</span>
								<!--<table style="border: 1px solid black;">
    <tbody>
        <tr style="border: 1px solid black;" class="firstRow">
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">产品名称</span>
            </td>
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">产品类型</span>
            </td>
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">产品价格</span>
            </td>
        </tr>
        <tr style="border: 1px solid black;" class="firstRow">
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">名称一</span>
            </td>
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">类型一</span>
            </td>
            <td width="346" valign="top" style="border: 1px solid black; word-break: break-all;" class="selectTdClass">
                <span style="font-size: 36px;">价格一</span>
            </td>
        </tr>
    </tbody>
</table>
<p>
    <br/>
</p>-->
							</div>
						</div>
						
					</td>
				</tr>
			</table>
		</div>	
	</div>
	<div id="pdfpz" style='display: none'>
		<table align="center">
			<tr><td>.</td><td>.</td></tr>
											<tr>
												<td><span style="height:60px;line-height:60px" class='tzym'>页眉页脚：开启<input type="radio" name='ym' value='ym'>关闭<input type="radio" name='ym' value='nym' checked='checked'></span></td>
											</tr>

											<tr>
												<td ><span >页眉图片：<input type='file' lay-type='file' style='margin-top:25px;'  class='layui-upload-file' name='csv_up'> <span class="fjoldname">（开启必须上传）</span></span></td>
											</tr>
											<tr><td>页眉标题：<input type="index"  class='ymbt' style='margin-top:25px;
												max-width: 100%;
												padding: 4px 6px;
												border: 1px solid #ddd;
												background: #fff;
												color: #444;
												-webkit-transition: all linear .2s;
												transition: all linear .2s;
												border-radius: 4px;'  value='{$ymbt}' placeholder="开启页眉必填"></td>
											</tr>
											<tr><td >页眉内容：<input  class='ymnr' style='margin-top:25px;height: 20px;
												max-width: 100%;
												padding: 4px 6px;
												border: 1px solid #ddd;
												background: #fff;
												color: #444;
												-webkit-transition: all linear .2s;
												transition: all linear .2s;
												border-radius: 4px;' type='index' value="{$ymnr}" placeholder="开启页眉必填" ></td>
											</tr>

									
											<tr>
												<td><span class='tzsy'>开启水印：开启<input type="radio"  style='margin-top:25px'  name="sy" value='sy' >关闭<input type="radio"  style='margin-top:25px'   name="sy" value='nsy' checked></span></td>
											</tr>
											<tr>
												<td >水印内容：<input class='synr' style='margin-top:25px;padding: 4px 6px;
												border: 1px solid #ddd;
												background: #fff;
												color: #444;
												-webkit-transition: all linear .2s;
												transition: all linear .2s;
												border-radius: 4px;' type='index' value="{$synr}" placeholder="开启水印必填"></td>
											</tr>
		</table>
	</div>
	<input type='hidden' class="tzymaa" value="{$ymkq}">
	<input type='hidden' class="tzymtp" value="{$ymtp}">
	<input type='hidden' class="tzsyaa" value="{$sykq}">
	<input type='hidden' class="xiugaia" value="{$xiugaia}">
	</body>
	<script>
		//
		layui.use('element', function(){
		  var element = layui.element;
		  
		  //…
		});//layui选项卡
		var xg_ymkq=$(".tzymaa").val();
	
		if(xg_ymkq=="ym")
		{
			$(".tzym").html('页眉页脚：开启<input type="radio" name="ym" value="ym" checked="checked">关闭<input type="radio" name="ym" value="nym" >')
		}
		var xg_tzsy=$(".tzsyaa").val();
		
		if(xg_tzsy=="sy")
		{
			$(".tzsy").html('开启水印：开启<input type="radio"  style="margin-top:25px"  name="sy" value="sy"  checked="checked">关闭<input type="radio"  style="margin-top:25px"   name="sy" value="nsy">')
		}else{

		}
		window.fjname =$(".tzymtp").val();
		if(fjname!="")
		{
				$(".fjoldname").text(fjname);
		}
		var xiugaia=$(".xiugaia").val();

		if(xiugaia=="xiugaia")
		{

				var ymkq=$('input:radio[name="ym"]:checked').val();
						var ymbt=$(".ymbt").val();
						var ymnr=$(".ymnr").val();
				var sykq=$('input:radio[name="sy"]:checked').val();
				var synr=$(".synr").val();
								
				$(".cun").html("<input type='hidden' name='ymkq' value='"+ymkq+"'><input type='hidden' name='ymtp' value='"+fjname+"'><input type='hidden' name='ymbt' value='"+ymbt+"'><input type='hidden' name='ymnr' value='"+ymnr+"'><input type='hidden' name='sykq' value='"+sykq+"'><input type='hidden' name='synr' value='"+synr+"'>")



				$(".thxg").html("<span class='thxg'><span style='color:white;margin-top: 10px '  class='layui-btn layui-btn-small' value='' onclick='pdfxg()'>确认修改</span>");
		}
 function tishi(neirong)
			{
			    layer.msg(neirong, {
			        time: 1000, 
			    });
			}
		function shaixuana(){
			var sx=$(".shaixuan").val();
			window.location='__ROOT__/index.php/Home/Hetongmbzdy/chaxun?id='+sx;
			
		}
		function pdfpz(){		

									
				layui.upload({
					        url: "__ROOT__/index.php/Home/Hetongmbzdy/wjsc_dr",
					      
					        title:"选择文件",
					        success: function(res){
					        
					            if(res['res']=='1')
					            {
					            	window.fjname=res['newname'];
									window.fjoldname=res["oldname"];
					            	$(".fjoldname").text(fjname)
					            	
						  
					            }
					           
					            else
					            {	
					            	
					           		tishi("文件上传失败");
					            }

					        },
					    });
				
									
				window.fjname =$(".tzymtp").val();
		if(fjname!="")
		{
				$(".fjoldname").text(fjname);
		}
			
    				layui.use('layer', function(){
					//	tishi(123)
							var layer = layui.layer;
							var win=layer.open({

								type:1,
								offset: 't',
								area:'750px',
								title: 'PDF配置',
								content:$('#pdfpz'),
								btn:['保存'],

								btn1:function(){
								
								window.ymkq=$('input:radio[name="ym"]:checked').val();
								if(ymkq=="ym")
								{
									window.ymbt=$(".ymbt").val();
									if(ymbt==""||ymbt==undefined)
									{
										tishi("页眉标题不能为空");return
									}
									window.ymnr=$(".ymnr").val();
									if(ymnr==""||ymnr==undefined)
									{
										tishi("页眉内容不能为空");return
									}
								}else{
									window.ymbt="0";
									window.ymnr="0";
								}
								window.sykq=$('input:radio[name="sy"]:checked').val();
								if(sykq=="sy")
								{
									window.synr=$(".synr").val();
									if(synr==""||synr==undefined)
									{
										tishi("水印内容不能为空");return
									}
								}else{
									window.synr="0";
								}
									
								$(".cun").html("<input type='hidden' name='ymkq' value='"+ymkq+"'><input type='hidden' name='ymtp' value='"+fjname+"'><input type='hidden' name='ymbt' value='"+ymbt+"'><input type='hidden' name='ymnr' value='"+ymnr+"'><input type='hidden' name='sykq' value='"+sykq+"'><input type='hidden' name='synr' value='"+synr+"'>")
								layer.close(win);    
								
								}
							}); 
						});                  
    			}
		function allowDrop(ev)
{
ev.preventDefault();
}

function drag(ev)
{
ev.dataTransfer.setData("Text",ev.target.id);
			
	$("#"+ev.target.id).attr("class","layui-btn layui-btn-danger layui-btn-small layui-btn-radius")
}
function drop(ev)
{
ev.preventDefault();
var data=ev.dataTransfer.getData("Text");
ev.target.appendChild(document.getElementById(data));
}
function pdfxg()
{
	var a=$("#ueditor_textarea_upfile").val();
			var b=$(".namea").val();
			if(a=="")
			{
				tishi("内容不能为空");rerurn;
			}
			if(b=="")
			{
				tishi("名称不能为空");rerurn;
			}
				var sx=$(".shaixuan").val();	
			$.post('__ROOT__/index.php/Home/Hetongmbzdy/xiugai',{"upfile":a,"name":b,'ymkq':ymkq,'ymtp':fjname,"ymbt":ymbt,"ymnr":ymnr,"sykq":sykq,"synr":synr,"id":sx},
							        		 function(html){
									        
									        		
									        		tishi("修改成功")
									        		}
							                   );
}
		function pdf(){

			var a=$("#ueditor_textarea_upfile").val();
			var b=$(".namea").val();
			if(a=="")
			{
				tishi("内容不能为空");rerurn;
			}
			if(b=="")
			{
				tishi("名称不能为空");rerurn;
			}

			$.post('__ROOT__/index.php/Home/Hetongmbzdy/baocun',{"upfile":a,"name":b,'ymkq':ymkq,'ymtp':fjname,"ymbt":ymbt,"ymnr":ymnr,"sykq":sykq,"synr":synr},
							        		 function(html){
									        
									        		
									        		tishi("保存成功")
									        		}
							                   );
		}
	

			window.rooturl="{$_GET['root_dir']}";
			layui.use('layedit', function(){
				  var layedit = layui.layedit;
				  layedit.set({
				  uploadImage: {
					url: rooturl+"/index.php/Home/Huiyi/fwb_img", //接口url
					type: '' //默认post
				  }
				});
				  window.index = layedit.build('demo'); //建立编辑器
				  
			});
			var huiyiva='';
			window.img_name="";
			
			layui.use('upload', function(){
				layui.upload({
				  url: rooturl+"/index.php/Home/Huiyi/imgse",
				  success: function(res){
				 
									  if(res['res']=='1')
										{
										
											  $(".thimg").text(res['oldname']);//原名字
													window.img_name=res['newname']
													$('.img_th').val(img_name)
										}
									   
										else
										{
												tishi("文件上传失败");
										}
				  }
				}); 
			});

		</script>
		<script>
		
			 //   var ue = UE.getEditor('container');
				
		
				var ue = UE.getEditor('container', {
		
		
			  toolbars: [
			[
				'anchor', //锚点
				'undo', //撤销
				'redo', //重做
				'bold', //加粗
				'indent', //首行缩进
				'snapscreen', //截图
				'italic', //斜体
				'underline', //下划线
				'strikethrough', //删除线
				'subscript', //下标
				'fontborder', //字符边框
				'superscript', //上标
				'formatmatch', //格式刷
				'source', //源代码
				'blockquote', //引用
				'pasteplain', //纯文本粘贴模式
				'selectall', //全选
				'print', //打印
				'preview', //预览
				'horizontal', //分隔线
				'removeformat', //清除格式
				'time', //时间
				'date', //日期
				'unlink', //取消链接
				'insertrow', //前插入行
				'insertcol', //前插入列
				'mergeright', //右合并单元格
				'mergedown', //下合并单元格
				'deleterow', //删除行
				'deletecol', //删除列
				'splittorows', //拆分成行
				'splittocols', //拆分成列
				'splittocells', //完全拆分单元格
				'deletecaption', //删除表格标题
				'inserttitle', //插入标题
				'mergecells', //合并多个单元格
				'deletetable', //删除表格
				'cleardoc', //清空文档
				'insertparagraphbeforetable', //"表格前插入行"
				'insertcode', //代码语言
				'fontfamily', //字体
				'fontsize', //字号
				'paragraph', //段落格式
				'simpleupload', //单图上传
				'edittable', //表格属性
				'edittd', //单元格属性
				'link', //超链接
				'emotion', //表情
				'spechars', //特殊字符
				'searchreplace', //查询替换
				'map', //Baidu地图
				'gmap', //Google地图
				//'insertvideo', //视频
				'help', //帮助
				'justifyleft', //居左对齐
				'justifyright', //居右对齐
				'justifycenter', //居中对齐
				'justifyjustify', //两端对齐
				'forecolor', //字体颜色
				'backcolor', //背景色
				'insertorderedlist', //有序列表
				'insertunorderedlist', //无序列表
				'fullscreen', //全屏
				'directionalityltr', //从左向右输入
				'directionalityrtl', //从右向左输入
				'rowspacingtop', //段前距
				'rowspacingbottom', //段后距
				'pagebreak', //分页
				'insertframe', //插入Iframe
				'imagenone', //默认
				'imageleft', //左浮动
				'imageright', //右浮动
				'attachment', //附件
				'imagecenter', //居中
				'wordimage', //图片转存
				'lineheight', //行间距
				'edittip ', //编辑提示
				'customstyle', //自定义标题
				'autotypeset', //自动排版
				'webapp', //百度应用
				'touppercase', //字母大写
				'tolowercase', //字母小写
				'background', //背景
				'template', //模板
			
				'inserttable', //插入表格
		
				'charts', // 图表
				
			]
		]
		});  
			var lang = ue.getOpt('initialFrameHeight');//初始高度
			var a = ue.getOpt('autoHeightEnabled');//不自动变高
		  
		</script>
		
</html>
